.aside {
    position: relative;
    top: -1.5px;
    left: 0px;
    width: 57px;
    height: 933px;
    background: #5861AE 0% 0% no-repeat padding-box;
    opacity: 1;
}

#home {
    position: relative;
    top: 119px;
    left: 18px;
    width: 22px;
    height: 22px;
    opacity: 1;
}

#list {
    position: relative;
    top: 247px;
    left: 20px;
    width: 25px;
    height: 18px;
    opacity: 1;
    padding: 1rem;
    background-color: white;
}



#more {
    position: relative;
    top: 183px;
    left: -5%;
    width: 22px;
    height: 22px;
    opacity: 1;

}