#title{
    display: inline;
    
}
#main-body{
    position: relative;
    bottom: 637px;
    left:100px;
}
#title-bar{
    margin-bottom: 10px;
    
}
#product-type,#quantity,#wash-type,#price{
    background-color: black;
    color: white;
    display: inline-block;
}
#product-type{
    width:15%;
}
#quantity{
    width:15%;
}
#wash-type{
    width:25%;
}
#price{
    width:15%;
}