#product-icon{
    width : 45px;
    height: 43px;
}

#description{
    color: #76788B;
    font-size: 10px;
}

#productName{
    color: #5861AE;
    font-size: 14px;
}

#product-quantity{
    width:63px;
    /* text-decoration: none; */
    position: relative;
    top: -80px;
    left: 212px;
}

#reset-btn{
    color: #5861AE;
    width: 81px;
    height: 32px;
    cursor: pointer;
}

#towel{
    width:26.1px;
    height:26.1px;
    position: relative;
    top: -71px;
    left: 340px;
    margin-right: 15px;
}

#productName,#description{
    width: 10%;
    /* border: 2px solid red; */
    position: relative;
    top: -44px;
    left: 53px;
}

#price-eq{
    position: relative;
    top: -100px;
    left: 747px;
    width: 6%;
    /* border: 2px solid red; */
}
#reset-btn{
    position: relative;
    top: -120px;
    left: 865px;
    width: 6%;
    /* border: 2px solid red; */
    border: 1px solid #5861AE;
    border-radius: 4px;
    opacity: 1;
    background-color: white;
}

#reset-line{
    position: relative;
    top: -120px;
    left: 890px;
    width: 6%;
    /* border: 2px solid red; */
}

#reset-line-1{
    position: relative;
    top: -100px;
    left: 747px;
    width: 6%;
    /* border: 2px solid red; */
}

#row{
    border-bottom: 1px solid #707070;
    width:70%;
    height: 75px;
    margin-top: 10px;
}

#cancel,#proceed{
    margin-top: 20px;
    position: relative;
    left:750px;
    margin-right:20px;
    width:65px;
    height: 22px;
    cursor: pointer;
}

#cancel{
    margin-right:20px;
    color: #5861AE;
    opacity: 1;
    border: 1px solid #5861AE;
    border-radius: 4px;
}
#proceed{
    margin-right:20px;
    border: 1px solid #5861AE;
    border-radius: 4px;
    opacity: 1;
    background-color: #5861AE;
    color: white;
}